* {
     margin: 0;
     padding: 0;
}

body{
     box-sizing: border-box; 
     background-color: cadetblue;
     font-family: 'Mukta', sans-serif;
     font-weight: 400;
}
.contenedor{
     max-width: 1100px;
     display: flex;
     margin: 0 auto;
     justify-content: space-between;
     padding-top: 10px;

}

.Personal{
     background-color: darkcyan;
     flex: 1 0 40%;
     color: white;
}

.encabezado{
     background-color: rgb(34 49 56);
     display: flex;
     padding: 25px;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}

.encabezado img{
     border-radius: 50%;
     height:  60%;
     width: 60%;
     order: -1;
     padding: 20px;
}

.encabezado h1{
     text-transform: uppercase;
     font-size: 30px;
     font-weight: 700;
}

.datosPersonales{
     background-color: rgb(50 70 79);
     display: flex;
     flex-direction: column;
     padding: 25px 35px;
}

.DescPersonal{
     display: flex;
     flex-direction: column;
     padding-bottom: 25px;
}

.cuadros{
     margin-bottom: 25px;
}

.head{
     display: flex;
     flex-direction: row-reverse;
     justify-content: flex-end;
     align-items: center;
     padding: 0px 5px 25px 10px;
}

svg{
     background-color: rgb(34 49 56);
     border-radius: 50%;
}

.head h2{
     padding: 0px 10px 0px 10px;
     align-self: center;
     font-size: 22px;
}

p{
     text-align: justify;
}

h3{
     font-size: 16px;
}
.datos .item{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 20px;
}

.datos .item svg{
     order: -1;
     color: rgb(34 49 56);
     background-color: white;
}


.conten{
     background-color:white;
     flex: 1 0 auto;
}

.itemconten{
     display: flex;
     flex-direction: column;
     max-width: 600px;
     margin-bottom: 100px;

}

.contenido{
     margin: 60px 50px;
}

.contenido .head{
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   align-items: center;
   flex: 1;
}

.itemconten p{
     margin-left: 40px;
}

